# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RISCV_SHAKTI

config SOC_SERIES
	default "eclass"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 50000000

config RISCV_SOC_INTERRUPT_INIT
	default y

config RISCV_HAS_CPU_IDLE
	default y

config RISCV_HAS_PLIC
	default y

config NUM_IRQS
	default 64

endif # SOC_SERIES_RISCV_SHAKTI
